/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 body {
  position: relative;
  color: white;
  height: 100%;
  /* background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  ); */
  background: steelblue;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

input {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  opacity: 0.9;
  margin: 10px;
}

h2 {
  margin: 10px;
}

h3 {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

#mainHdr {
  background-color: rgb(84, 84, 84);
  margin-top: -52px; /* super wack; hack to get it at top */
  padding: 50px 100vw;
  font-size: 36px;
  font-family: 'Courier New', Courier, monospace;
}

.Uptimer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.titleZone {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.titleZone span {
  font-size: 12px;
}

.titleZone hr {
  color: blue;
  width: 100%;
  stroke-width: 4px;
}

.goalZone {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 21%;
  justify-content: center;
  align-items: center;
}

.goalZone form {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  margin: 10px;
}

.goalButton button:hover {
  transform: scale(1.05);
  opacity: 1;
}

.goalInputErrorMsg {
  color: rgb(87, 19, 19);
  font-size: 11px;
  text-align: center;
}

#grayBtn {
  background-color: lightgray;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  opacity: 0.9;
  margin: 10px;
  cursor: default;
}

.timerZone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 35px 0 35px 0;
  border: solid 1px black;
  padding: 35px 20vw 35px 20vw;
}

#timerTitle {
  font-size: 12px;
  margin-bottom: 20px;
  color: black;
}

#logzone {
  width: 60vw;
}

.logHeadZone {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 10px;
}

.logHeadZone h2 {
  width: 66%;
  margin: 0px;
  margin-left: 10px;
}

.clearBtnDiv {
  width: 33%;
  text-align: right;
}

#clearBtn {
  font-size: 10px;
  background-color: rgb(232, 230, 230);
  margin: 0 10px 0 0px;
}

#clearBtn:hover {
  background-color: white;
  font-size: 11px;
  transition: all ease-in 0.1s;
}

.logTable {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.logList {
  margin: 0px;
}

.logItem {
  display: block;
  width: 100%;
  margin: 0px;
  font-size: 15px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: darkslategray;

  /* padding: 5px 10px; */
  border: none;
  appearance: none;
  font-size: 1rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  /* cursor: pointer; */
  opacity: 0.9;
  margin: 10px;
  margin-left: 0px;
}

.logItem:hover {
  transform: scale(1.05);
  opacity: 1;
}

.logHeader {
  margin: 0px;
  font-weight: bold;
  /* text-align: center; */
}

.logTime {
  display: inline-block;
  width: 20%;
  padding: 10px 15px 10px 15px;
  border-right: lightgray 1px solid;
}

.logGoal {
  display: inline-block;
  width: 25%;
  padding: 10px 15px 10px 15px;
  border-right: lightgray 1px solid;
}

.logNote {
  display: inline-block;
  width: 25%;
  padding: 10px 15px 10px 15px;
  border-right: lightgray 1px solid;
}

.logEdit {
  display: inline-block;
  width: 10%;
}

.logEdit button {
  color: darkslategray;
  font-size: 12px;
  border: 1px solid darkslategray;
}